<h1>Team list</h1>
<% if @teams %>
	<ul>
		<% @teams.each do |team| %>
			<li>
				<%= link_to( team.name, team_path(team)) %>
			</li>
		<% end %>
	</ul>
<% end %>
<%= link_to('create team', new_team_path) %>