<% if @teams.count > 0 %>
    <h2 class="ui top attached header"><i class="list icon"></i> Vos équipes</h2>
    <div class="ui attached segment">
    <div class="ui grid">
        <% @teams.each do |t| %>
            <div class="four wide column">
                <h3><i class="users icon"></i> <%= link_to(t.name, team_path(id: t.id)) %></h3>
                <% if t.gladiators.count > 0 %>
                    <div class="ui stacked segment">
                    <% t.gladiators.each do |g| %>
                        <p>
                            <i class="child icon"></i> <%= g.name %>
                        </p>
                    <% end %>
                    </div>
                <% end %>
            </div>
        <% end %>        
    </div>
    </div>
<% else %>
    <h2>Vous n'avez pas encore d'équipe</h2>
<% end %>