<% if @teams.count > 0 %>
    <h2 class="ui top attached header"><i class="list icon"></i> Vos équipes</h2>
    <div class="ui attached segment">
    <% @teams.each do |t| %>
        <h3>
          <i class="users icon"></i> <%= t.name %>
        </h3>
        <% if t.gladiators.count > 0 %>
            <div class="ui stacked segment">
            <% t.gladiators.each do |g| %>
                <p>
                    <i class="child icon"></i> <%= g.name %>
                </p>
            <% end %>
            </div>
        <% end %>
    <% end %>
    </div>
<% else %>
    <h2>Vous n'avez pas encore d'équipe</h2>
<% end %>