<!DOCTYPE html>
<html>
    <head>
        <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    </head>
    <body>
        <h1>Vous avez été convié à jouer au tout nouveau jeu de gestion et de combat de gladiateurs : Fight Gladiators.</h1><br>
        <h1>Cliquez ici : </h1>
    </body>
</html>