// Place all the styles related to the teams controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.single-equipment h3 {
	margin: 0;
}

.single-equipment:hover {
	cursor: pointer;
}

.reset-float {
	clear: both;
}

.droppable {
	transition: 1s ease;
	list-style: none;
	text-align: center;
	float: left;
}