.single-equipment h3 {
	margin: 0;
}

.single-equipment:hover {
	cursor: move;
}
.single-equipment {
  height: auto !important;
  width: auto !important;
}
.reset-float {
	clear: both;
}

.gladiator-name {
	text-align: center;
    border: 1px dashed transparent;
}

.gladiator-name:hover {
	cursor:move;
    border: 1px dashed #CCC
}

.team-drop {
    background: #FAFAFA;
}

