<div class="ui grid">
  <div class="six wide column">
<%= form_for :gladiator, url: gladiators_path do |f| %>
    <div class="ui form">

        <div class="field">
        <div class="ui input">
            <%= f.text_field :name, :placeholder => 'Nom du gladiateur' %>
        </div>
        </div>

        <!-- <div class="field">
            <%= f.collection_select(:team_id, Team.where( user_id: current_user.id ), :id, :name, { :prompt => true }, :class => 'ui dropdown', :id => 'select') %>
        </div> -->

        <div class="field">
            <%= f.submit 'Créer', :class => 'ui primary button' %>
        </div>

    </div>
<% end %>
    </div>
</div>